*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body{
    background-image: url(../images/hom.jpg);
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    position: sticky;
    width: 100%;
    height: 100%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    
    backdrop-filter: blur(20px);
}
.logo:hover{
    border: none;
}
.logo a{
    font-size: 20px;
    font-weight: bolder;
    background: linear-gradient(to right,#2235c5,#0b238d),radial-gradient(circle at top left,#191b8a,#19b9f8);
    color: #eae7e7;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}


nav ul li{
    list-style: none;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: #2c2a2a;
    font-weight: bold;
}
nav ul li a:hover{
    color: #e8e3e3;
    transition: .3s;
}
button a{
    text-decoration: none;
    color: #fff;
}
button{
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(237, 231, 231);
    border-radius: 30px;
    background: linear-gradient(#5362da,#da13a5),radial-gradient(circle at top left,#4e0589,#19b9f8);
    transition: .4s;
}
button:hover{
     scale: 1.1;
    cursor: pointer;
}



/*.main{
    background-color: rgb(25, 177, 204);
}*/
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    /*background-color: rgb(25, 177, 204);*/
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main__content h1{
    font-size: 3rem;
    background-image: linear-gradient(to top, #d8cdcde7 0% ,#d2eded 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content h2{
    font-size: 3rem;
    background-image: linear-gradient(to right,#e8e8f4 0% ,#7bacb8 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #080303c3;
}
.main__btn{
    font: 1rem;
    background-image: radial-gradient(circle at top left,#dc20c6,#3527b6);
    padding: 14px 32px;
    color: rgb(249, 249, 249);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 2rem;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
.main__btn a{
    position: relative;
    z-index: 2;
    color: rgb(249, 249, 249);
    text-decoration: none;
    font-size: 17px;
}
.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #23aec781;
    transition: all 0.35s;
    border-radius: 20px;
}
.main__btn:hover{
    color: #919191;
}
.main__btn:hover:after{
    width: 100%;
}
.main__img--container{
    text-align: center;
}
#main__img{
    height: 80%;
    width: 80%;
}
@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main__content h2{
        font-size: 3rem;
    }
    .main__content p{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 480px){
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2{
        font-size: 2rem;
    }
    .main__content p{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/*srvices css*/
.services{
    /*background: black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.services h1{
    color: #887979e3;
    background-image: linear-gradient(to right ,
    #42455ade 0%,
    #23aec7cd 25%,
    #085d6ccd 50%,
    #034652cd 75%
    #032930cd 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.services__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services__card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0,0,0,0)0%,
    rgba(17,17,17,0.6)100%),url(../images/dev.jpeg);
    background-size: cover;
    position: relative;
    color: #fff;
}
.services__card:nth-child(2){
    background-image: linear-gradient(rgba(0,0,0,0)0%,
    rgba(17,17,17,0.6)100%),url(../images/exam.jpeg);
}
.services h2{
    position: absolute;
    top: 350px;
    left: 30px;
}
.services p{
    position: absolute;
    top: 400px;
    left: 30px;
}
.services__card button{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #5db8dc;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}
.services__card button a{
    text-decoration: none;
    color: #fff;
}
.services__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}


@media screen and (max-width: 960px){
    .services{
        height: 1600px;
    }
    .services h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
}
@media screen and (max-width: 480px){
    .services{
        height: 1400px;
    }
    .services h1{
        font-size: 1.2rem;
    }
    .services__card{
        width: 300px;
    }
}
footer{
    background: linear-gradient(to right,#08080f,#030203),radial-gradient(circle at top left,#0c0810,#040b0d);
    margin: 150px 0 0 0;
    
}
.footer__container{
    width: 100%;
    padding: 70px 30px 20px;
    
}
.social__icons{
    display: flex;
    justify-content: center;
}
.social__icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social__icons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.social__icons a:hover{
    background-color: black;
    transition: 0.5s;
}
.social__icons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
 .footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: monodisc;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

 